In [4]:
import os
import numpy as np
import pandas as pd
import Utils

In [2]:
DATA_PATH = '../data/'
EXPORT_PATH = '/export/'

files = {
    'data': [
        DATA_PATH + 'baskets.parquet',
        DATA_PATH + 'coupon_index.parquet', 
        DATA_PATH + 'coupons.parquet',
        #DATA_PATH + 'prepare.parquet'
   ]
}

In [3]:
# todo: rename to Utils and break inheritance
class Helper:
    """
    Expose utility methods
    """

    def __init__(self):
        """
        Attributes:
            data: (dict) contains the loaded data sets
            mappings: (dict) todo: what kind of mappings?
        """
        #self.data = {}
        self.mappings = {}

    # read parquet files from disk and optimize memory consumption
    # ----------------------------------------------------------------------------------
    def load(self, files: dict):
        data_frames = {}
        for key, paths in files.items():
            for path in paths:
                name_with_extension = os.path.basename(path)
                name = os.path.splitext(name_with_extension)[0]
                data = pd.read_parquet(path)
                data_frames[name] = self.reduce_data_size(data)
        self.data = data_frames
    # reduce data size
    # ----------------------------------------------------------------------------------
    def reduce_data_size(self, df):
        """
        use:
            - reduces memory usage of dataframes by converting integers to the lowest
              possible memory usage and float to float32

        input:
            - df: pd.DataFrame
                - dataframe with high memory usage

        return: pd.DataFrame
            - dataframe with lower memory usage
        """

        max_integer_values = {
            127: "int8", 
            32767: "int16", 
            2147483647: "int32"
        }
        
        for column, dtype in df.dtypes.items():
            if np.issubdtype(dtype, np.integer):
                # determining the minimum dtype
                max_value = np.max([abs(df[column].min()), df[column].max()])
                max_array = np.array(list(max_integer_values.keys()))
                max_idx = max_array[max_array > max_value][0]
                # converting integers
                df[column] = df[column].astype(max_integer_values[max_idx])
            # converting float
            if np.issubdtype(dtype, np.floating):
                df[column] = df[column].astype("float32")
        return df

    # convenience functions
    # ----------------------------------------------------------------------------------
    def __getitem__(self, item):
        """
        use:
            - dict-like behaviour: self['item'] <-> self.item
            - allows to get attributes using a str
        """
        return eval(f"self.{item}")

    def __setitem__(self, item, value):
        """
        use:
            - dict-like behaviour: self['item'] = value <-> self.item = value
            - allows to set attribute values using a str
        """
        exec(f"self.{item} = value")

    def _format_time(self, seconds):
        """
        use:
            - formats seconds into str time-format: 'mm:ss'
        """
        return "{:02.0f}".format(seconds // 60) + ":" + "{:02.0f}".format(seconds % 60)

In [4]:
myHelper = Helper()
myHelper.load(files)

{'baskets':           week  shopper  product  price
 0            0        0       71    629
 1            0        0       91    605
 2            0        0      116    715
 3            0        0      123    483
 4            0        0      157    592
 ...        ...      ...      ...    ...
 68841593    89    99999      143    470
 68841594    89    99999      158    566
 68841595    89    99999      186    499
 68841596    89    99999      204    496
 68841597    89    99999      225    602

 [68841598 rows x 4 columns],
 'coupon_index':       week  shopper  coupon
 0       90        0       0
 2000    90        0       1
 4000    90        0       2
 6000    90        0       3
 8000    90        0       4
 ...    ...      ...     ...
 1999    90     1999       0
 3999    90     1999       1
 5999    90     1999       2
 7999    90     1999       3
 9999    90     1999       4

 [10000 rows x 3 columns],
 'coupons':           week  shopper  product  discount
 0            0        0       35        35
 1            0        0      193        40
 2            0        0       27        30
 3            0        0      177        35
 4            0        0        5        30
 ...        ...      ...      ...       ...
 44999995    89    99999       62        40
 44999996    89    99999      110        10
 44999997    89    99999       37        40
 44999998    89    99999      155        25
 44999999    89    99999      132        10

 [45000000 rows x 4 columns]}

In [5]:
myHelper.data['baskets']

          week  shopper  product  price
0            0        0       71    629
1            0        0       91    605
2            0        0      116    715
3            0        0      123    483
4            0        0      157    592
...        ...      ...      ...    ...
68841593    89    99999      143    470
68841594    89    99999      158    566
68841595    89    99999      186    499
68841596    89    99999      204    496
68841597    89    99999      225    602

[68841598 rows x 4 columns]

In [1]:
def testi():
    return 3

type(testi)

function

In [5]:
df = pd.DataFrame(index=range(90),columns=range(250))

In [8]:
df[3].nunique()

0

In [9]:
df

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
columns = range(100)

In [19]:
soso = pd.DataFrame({(column): [1,2,3,4,5,6] for column in columns})

In [24]:
soso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 100 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      int64
 1   1       6 non-null      int64
 2   2       6 non-null      int64
 3   3       6 non-null      int64
 4   4       6 non-null      int64
 5   5       6 non-null      int64
 6   6       6 non-null      int64
 7   7       6 non-null      int64
 8   8       6 non-null      int64
 9   9       6 non-null      int64
 10  10      6 non-null      int64
 11  11      6 non-null      int64
 12  12      6 non-null      int64
 13  13      6 non-null      int64
 14  14      6 non-null      int64
 15  15      6 non-null      int64
 16  16      6 non-null      int64
 17  17      6 non-null      int64
 18  18      6 non-null      int64
 19  19      6 non-null      int64
 20  20      6 non-null      int64
 21  21      6 non-null      int64
 22  22      6 non-null      int64
 23  23      6 non-null      int64
 24  24      6 non-null      int64
 25  25      6 non-null      int64
 26  26      6 non-null      int64
 27  27      6 non-null      int64
 28  28      6 non-null      int64
 29  29      6 non-null      int64
 30  30      6 non-null      int64
 31  31      6 non-null      int64
 32  32      6 non-null      int64
 33  33      6 non-null      int64
 34  34      6 non-null      int64
 35  35      6 non-null      int64
 36  36      6 non-null      int64
 37  37      6 non-null      int64
 38  38      6 non-null      int64
 39  39      6 non-null      int64
 40  40      6 non-null      int64
 41  41      6 non-null      int64
 42  42      6 non-null      int64
 43  43      6 non-null      int64
 44  44      6 non-null      int64
 45  45      6 non-null      int64
 46  46      6 non-null      int64
 47  47      6 non-null      int64
 48  48      6 non-null      int64
 49  49      6 non-null      int64
 50  50      6 non-null      int64
 51  51      6 non-null      int64
 52  52      6 non-null      int64
 53  53      6 non-null      int64
 54  54      6 non-null      int64
 55  55      6 non-null      int64
 56  56      6 non-null      int64
 57  57      6 non-null      int64
 58  58      6 non-null      int64
 59  59      6 non-null      int64
 60  60      6 non-null      int64
 61  61      6 non-null      int64
 62  62      6 non-null      int64
 63  63      6 non-null      int64
 64  64      6 non-null      int64
 65  65      6 non-null      int64
 66  66      6 non-null      int64
 67  67      6 non-null      int64
 68  68      6 non-null      int64
 69  69      6 non-null      int64
 70  70      6 non-null      int64
 71  71      6 non-null      int64
 72  72      6 non-null      int64
 73  73      6 non-null      int64
 74  74      6 non-null      int64
 75  75      6 non-null      int64
 76  76      6 non-null      int64
 77  77      6 non-null      int64
 78  78      6 non-null      int64
 79  79      6 non-null      int64
 80  80      6 non-null      int64
 81  81      6 non-null      int64
 82  82      6 non-null      int64
 83  83      6 non-null      int64
 84  84      6 non-null      int64
 85  85      6 non-null      int64
 86  86      6 non-null      int64
 87  87      6 non-null      int64
 88  88      6 non-null      int64
 89  89      6 non-null      int64
 90  90      6 non-null      int64
 91  91      6 non-null      int64
 92  92      6 non-null      int64
 93  93      6 non-null      int64
 94  94      6 non-null      int64
 95  95      6 non-null      int64
 96  96      6 non-null      int64
 97  97      6 non-null      int64
 98  98      6 non-null      int64
 99  99      6 non-null      int64
dtypes: int64(100)
memory usage: 4.8 KB